<!-- <div>
  <label>Email</label>
  <input type = "email" name = "email" [(ngModel)] = "LoginUser.email"placeholder = "password">
  <Label>Password</Label>
  <input type = "text" name = "password" placeholder = "password" [(ngModel)] = "LoginUser.password">

  <button (click) = "login(LoginUser)">Guardar</button>
</div> -->

<!-- <div>
  <a  (click) = "signInWithGoogle()">Hola</a>
</div>

<p>
  login works!
</p> -->


<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h2 class="card-title text-center">AlquiNow</h2>
		<div class="card-text">
			<!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
			<form>
				<!-- to error: add class "has-danger" -->
        <div class="form-group">
          <h5 for="exampleInputPassword1">Iniciar Sesión</h5>
        </div>
				<div class="form-group">
					<label for="exampleInputEmail1">Correo</label>
          <div style = "display: flex;">
            <input type="email" class="form-control form-control-sm" type = "email" name = "email" [(ngModel)] = "LoginUser.email"placeholder = "Digite su correo">
            <div class = "hola" style = "width: 25%; text-align: center; border: 1px solid lightgray; border-end-end-radius: .25rem; border-start-end-radius: .25rem; border-left: 0px; "><img src = "../../../assets/icon/correo.png" style = "width: 45%; margin-top: 1%; vertical-align: middle; cursor: pointer;"></div>
          </div>
					
				</div>
        
				<div class="form-group">
					<label for="exampleInputPassword1">Contraseña</label>
					<a href="#" style="float:right;font-size:12px;">¿Olvidó su contraseña?</a>
          <div style = "display: flex;">
            <input type="password" class="form-control form-control-sm icon" id="exampleInputPassword1" name = "password" placeholder = "Digite su contraseña" [(ngModel)] = "LoginUser.password" style = "width: 80%;">
            <div class = "hola" style = "width: 20%; text-align: center; border: 1px solid lightgray; border-end-end-radius: .25rem; border-start-end-radius: .25rem; border-left: 0px; "><img src = "../../../assets/icon/ojo-abierto.png" style = "width: 50%; vertical-align: middle; cursor: pointer;"></div>
          </div>
					
				</div>
        <div class = "col-md-12 text-center">
          <button type="submit" class="btn btn-primary" (click) = "login(LoginUser)">Iniciar Sesión</button>
        </div>
        <div class="col-md-12 text-center">
          <button type="button" class="login-with-google-btn" (click) = "signInWithGoogle()">
            Iniciar Sesión con Google
          </button>
        </div>
       
				
				
				<div class="sign-up">
					¿No tiene una cuenta? <a routerLink = "/registro">¡Cree una!</a>
				</div>
			</form>
		</div>
	</div>
</div>
</div>

