<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->

<nav class="navbar navbar-expand-lg bg-light py-0 fixed-top ">
  <div class="container">
    <img src = "../../assets/icon/logo.png" alt = "" class = "logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i id = "bar" class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
         <i class = "fas fa-search"></i>
         <i class = "fas fa-shopping-bag"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ion-content>
  <section id = "home">
    <div class = "container">
      <h2>NUEVAS PUBLICACIONES</h2>
      <h1><span>Mejores precios</span> este año</h1>
      <p>AlquiNow te ofrece los mejores productos y servicios</p>
      <button class = "button">Alquilar Ahora</button>
    </div>
  </section>

  <div class = "bg-white">
    <section id = "brand" class = "container">
      <div class = "row m-0 py-5" style = "display: flex; justify-content: space-around; overflow-x: auto; width: 90%;">
        <i class="fas fa-bars" style = "color: black; "></i>
        <i class="fas fa-bars" style = "color: black;"></i>
        <i class="fas fa-bars" style = "color: black;"></i>
      
      </div>
    </section>
  </div>

  <section id = "new" >
    <div class = "row p-0 m-0">
      <div class = "one col-lg-4 col-md-12 col-12 p-0">
        <img src = "../../assets/icon/pulidora.jpg">
        <div class = "details">
          <h2>Extreme Rare Sneakers</h2>
          <button class = "text-uppercase">Comprar ahora</button>
        </div>
      </div>
      <div class = "one col-lg-4 col-md-12 col-12 p-0">
        <img src = "../../assets/icon/pulidora.jpg">
        <div class = "details">
          <h2>Extreme Rare Sneakers</h2>
          <button class = "text-uppercase">Comprar ahora</button>
        </div>
      </div>
      <div class = "one col-lg-4 col-md-12 col-12 p-0">
        <img src = "../../assets/icon/pulidora.jpg">
        <div class = "details">
          <h2>Extreme Rare Sneakers</h2>
          <button class = "text-uppercase">Comprar ahora</button>
        </div>
      </div>
    </div>
  
  </section>

  <section id = "featured" class = "my-5 pb-5"style = "background-color: white;">
    <div class = "container text-center mt-5 py-5">
      <h3>Our featured</h3>
      <hr class = "mx-auto">
      <p>asddsfdsfdgfgfgfhf</p>
    </div>
    <div class = "row mx-auto container-fluid">
      <div class = "product text-center col-lg-3 col-md-4 col-12">

        <img class = "img-fluid mb-3" src = "../../assets/icon/pulidora.jpg" alt = "">
        <div class = "star">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
        </div>
        <h5 class = "p-name">Sport Boots</h5>
        <h4 class = "p-price">$92.00</h4>
        <button class = "buy-btn">Buy Now</button>
      </div>
      <div class = "product text-center col-lg-3 col-md-4 col-12">

        <img class = "img-fluid mb-3" src = "../../assets/icon/pulidora.jpg" alt = "">
        <div class = "star">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
        </div>
        <h5 class = "p-name">Sport Boots</h5>
        <h4 class = "p-price">$92.00</h4>
        <button class = "buy-btn">Buy Now</button>
      </div>
      <div class = "product text-center col-lg-3 col-md-4 col-12">

        <img class = "img-fluid mb-3" src = "../../assets/icon/pulidora.jpg" alt = "">
        <div class = "star">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
        </div>
        <h5 class = "p-name">Sport Boots</h5>
        <h4 class = "p-price">$92.00</h4>
        <button class = "buy-btn">Buy Now</button>
      
        
      </div>
      <div class = "product text-center col-lg-3 col-md-4 col-12">

        <img class = "img-fluid mb-3" src = "../../assets/icon/pulidora.jpg" alt = "">
        <div class = "star">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
        </div>
        <h5 class = "p-name">Sport Boots</h5>
        <h4 class = "p-price">$92.00</h4>
        <button class = "buy-btn">Buy Now</button>
      
        
      </div>
      <div class = "product text-center col-lg-3 col-md-4 col-12">

        <img class = "img-fluid mb-3" src = "../../assets/icon/pulidora.jpg" alt = "">
        <div class = "star">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
        </div>
        <h5 class = "p-name">Sport Boots</h5>
        <h4 class = "p-price">$92.00</h4>
        <button class = "buy-btn">Buy Now</button>
      
        
      </div>
      <div class = "product text-center col-lg-3 col-md-4 col-12">

        <img class = "img-fluid mb-3" src = "../../assets/icon/pulidora.jpg" alt = "">
        <div class = "star">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
        </div>
        <h5 class = "p-name">Sport Boots</h5>
        <h4 class = "p-price">$92.00</h4>
        <button class = "buy-btn">Buy Now</button>
      
        
      </div>
    </div>
  </section>

  <section id = "banner" class = "my-5 py-5">
    <div class = "container">
      <h4>MID SEASON'S SALE</h4>
      <h1>Autumn Collection UP TO 20% OFF</h1>
      <button>sdfdsf</button>
    </div>
  </section>

  <section id = "featured" class = "my-5 pb-5"style = "background-color: white;">
    <div class = "container text-center mt-5 py-5">
      <h3>Our featured</h3>
      <hr class = "mx-auto">
      <p>asddsfdsfdgfgfgfhf</p>
    </div>
    <div class = "row mx-auto container-fluid">
      <div class = "product text-center col-lg-3 col-md-4 col-12">

        <img class = "img-fluid mb-3" src = "../../assets/icon/pulidora.jpg" alt = "">
        <div class = "star">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
        </div>
        <h5 class = "p-name">Sport Boots</h5>
        <h4 class = "p-price">$92.00</h4>
        <button class = "buy-btn">Buy Now</button>
      </div>
      <div class = "product text-center col-lg-3 col-md-4 col-12">

        <img class = "img-fluid mb-3" src = "../../assets/icon/pulidora.jpg" alt = "">
        <div class = "star">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
        </div>
        <h5 class = "p-name">Sport Boots</h5>
        <h4 class = "p-price">$92.00</h4>
        <button class = "buy-btn">Buy Now</button>
      </div>
      <div class = "product text-center col-lg-3 col-md-4 col-12">

        <img class = "img-fluid mb-3" src = "../../assets/icon/pulidora.jpg" alt = "">
        <div class = "star">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
        </div>
        <h5 class = "p-name">Sport Boots</h5>
        <h4 class = "p-price">$92.00</h4>
        <button class = "buy-btn">Buy Now</button>
      
        
      </div>
      <div class = "product text-center col-lg-3 col-md-4 col-12">

        <img class = "img-fluid mb-3" src = "../../assets/icon/pulidora.jpg" alt = "">
        <div class = "star">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
        </div>
        <h5 class = "p-name">Sport Boots</h5>
        <h4 class = "p-price">$92.00</h4>
        <button class = "buy-btn">Buy Now</button>
      
        
      </div>
      <div class = "product text-center col-lg-3 col-md-4 col-12">

        <img class = "img-fluid mb-3" src = "../../assets/icon/pulidora.jpg" alt = "">
        <div class = "star">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
        </div>
        <h5 class = "p-name">Sport Boots</h5>
        <h4 class = "p-price">$92.00</h4>
        <button class = "buy-btn">Buy Now</button>
      
        
      </div>
      <div class = "product text-center col-lg-3 col-md-4 col-12">

        <img class = "img-fluid mb-3" src = "../../assets/icon/pulidora.jpg" alt = "">
        <div class = "star">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
        </div>
        <h5 class = "p-name">Sport Boots</h5>
        <h4 class = "p-price">$92.00</h4>
        <button class = "buy-btn">Buy Now</button>
      
        
      </div>
    </div>
  </section>

  <footer class = "mt-5 py-5">
    <div class = "row container mx-auto pt-5">
      <div class = "footer-one col-lg-3 col-md-6 col-12">
         <img src = "../../assets/icon/logo.png" alt = "" style = "filter: brightness(0) invert(1);">
         <p>dsfdgfhghjghjghgh</p>
      </div>
      <div class ="footer-one col-lg-3 col-md-6 col-12 mb-3">
        <h5 class = "pb-2">Featured</h5>
        <ul class = "text-uppercase list-unstyled">
          <li><a href = "#">men</a></li>
          <li><a href = "#">men</a></li>
          <li><a href = "#">men</a></li>
          <li><a href = "#">men</a></li>
          <li><a href = "#">men</a></li>
          <li><a href = "#">men</a></li>
        </ul>
      </div>
      <div class ="footer-one col-lg-3 col-md-6 col-12 mb-3">
        <h5 class = "pb-2">Featured</h5>
        <div>
          <h6 class = "text-uppercase">Address</h6>
          <p>123 SGFGFDFGFDS</p>
        </div>
        <div>
          <h6 class = "text-uppercase">Address</h6>
          <p>123 SGFGFDFGFDS</p>
        </div>
        <div>
          <h6 class = "text-uppercase">Address</h6>
          <p>123 SGFGFDFGFDS</p>
          
        </div>
      </div>
      <div class ="footer-one col-lg-3 col-md-6 col-12 mb-4">
        <h5 class = "pb-2">Featured</h5>
        <div class = "row">
          <img class = "img-fluid w-25 h-100 m-2" src = "../../assets/icon/correo.png" alt = "">
          <img class = "img-fluid w-25 h-100 m-2" src = "../../assets/icon/correo.png" alt = "">
          <img class = "img-fluid w-25 h-100 m-2" src = "../../assets/icon/correo.png" alt = "">
          <img class = "img-fluid w-25 h-100 m-2" src = "../../assets/icon/correo.png" alt = "">
        </div>
      </div>
    </div>

    <div class = "copyright mt-5">
      <div class = "row container mx-auto">
        <div class = "col-lg-3 col-md-6 col-12">
          <img class = "img-fluid" src = "../../assets/icon/correo.png">
        </div>
        <div class = "col-lg-4 col-md-6 col-12 text-nowrap">
          <p class = "pt-3">sdfdfgdfggfhgfggfh</p>
        </div>
        <div class = "col-lg-4 col-md-6 col-12">
          <a href = "#"><i class = "fab fa-facebook-f"></i></a>
          <a href = "#"><i class = "fab fa-twitter"></i></a>
          <a href = "#"><i class = "fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    
  </footer>
 
</ion-content>



